/* Tags */
body { margin: 0; padding: 0; font: 14px/129% Arial, Helvetica, sans-serif; background: #fff url(../images/body.png) repeat-y center 0; }
html body.admin-menu { margin-top: 31px !important; }
a { color: #000; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin: 0; }
ul, ul.menu { margin: 0; padding: 0; list-style: none; }
ul li, ul.menu li { margin: 0; padding: 0; list-style: none; }
.item-list ul { margin: 0; padding: 0; }
.item-list ul li { margin: 0; padding: 0; }

/* General Elements */
.inside { margin: 0 !important; }
.panel-separator { display: none; }
.panels-flexible-row { padding: 0; }
.panels-flexible-region-inside { padding: 0; }
.contextual-links-wrapper { display: none; }
.centered > .inside, .centered > .pane-content { margin: 0 auto !important; width: 820px; }
.pink-panel { float: left; width: 100%; color: #fff; background: url(../images/planet-left.png) no-repeat center 0; }
.pink-panel a { color: #fff; }
.pink-panel > .inside { margin-top: 55px !important; background-color: #ef3969; }
.black-circle a { display: block; width: 109px; height: 109px; text-align: center; color: #fff; font: 16px/675% "tradegothic", Arial, serif; background: url(../images/black-circle.png) no-repeat 0 0; }

/* Cascade */
#header-wrapper { float: left; width: 100%; }
#content-wrapper { float: left; width: 100%; }
#content-top { float: left; width: 100%; }
#messages { float: left; width: 100%; }
#content-center { float: left; width: 100%; }
#content-bottom { float: left; width: 100%; }
#footer-wrapper { float: left; width: 100%; font-size: 0; line-height: 0; }

/* Header */
#header .header-block { float: left; width: 100%; height: 231px; background: url(../images/header.png) no-repeat center 0; }
#header .center-region > .inside { position: relative; z-index: 100; margin: 0 auto !important; width: 259px; height: 271px; background-color: #ee3968; }
#header .logo { float: left; margin-top: 38px; width: 100%; text-align: center; }
#header .logo a { font-size: 0; line-height: 0; }
#header .logo img { margin: 0 auto; }
#header div.menu { float: left; margin-top: 46px; width: 100%; }
#header div.menu ul { text-align: center; }
#header div.menu li { display: inline; margin: 0 3px 0; padding: 0; }
#header div.menu a { color: #fff; font: bold 15px "plantin", georgia, serif; }
#header div.menu a.active { text-decoration: underline; }

/* Footer */
#footer .background { float: left; width: 100%; height: 139px; background: url(../images/footer.png) no-repeat center 0; }
#footer .circle { margin: -51px auto 0; width: 98px; }
#footer .circle a { font-size: 0; line-height: 0; }

/* Views */
.fellow-blogs-view .views-row { position: relative; float: left; margin: 0 20px 18px 0; width: 205px; height: 171px; }
.fellow-blogs-view .my-col-last { margin-right: 0; }
.fellow-blogs-view .title { width: 100%; height: 145px; font: 20px/115% "planit", georgia, serif; letter-spacing: -1px; background-color: #ededed; }
.fellow-blogs-view .title .field-content { padding: 16px 19px; }
.fellow-blogs-view .leadline { margin-top: 8px; color: #272727; font: italic 11px/164% "planit", georgia, serif; }

/* About Us Block */
.about-us-block { background-color: #ededed; }
.about-us-block .panels-flexible-region > .inside { padding: 19px 25px 25px; }
.about-us-block .title { font: bold 36px/106% "tradegothic", Arial, serif; letter-spacing: -2px; }
.about-us-block .body { margin-top: 18px; }

/* Fellow Front Page */
.fellow-front-page {  }
.fellow-front-page .front-items { margin-top: 89px; float: left; width: 100%; }
.fellow-front-page .front-items .fellow-page-title { float: left; padding-bottom: 25px; width: 100%; font: 39px/98% "plantin", Arial, serif; letter-spacing: -2px; background: url(../images/dots-bg.png) repeat-x 0 bottom; }
.fellow-front-page .front-items .items { float: left; margin: 30px 0 0; width: 100%; }
.fellow-front-page .front-items .items .views-row { position: relative; float: left; margin: 0 19px 0 0; padding: 19px 25px 25px; width: 210px; height: 245px; background-color: #ededed; }
.fellow-front-page .front-items .items .views-row-last { margin-right: 0; }
.fellow-front-page .front-items .items .title { float: left; width: 100%; font: bold 36px/106% "tradegothic", Arial, serif; letter-spacing: -2px; }
.fellow-front-page .front-items .items .body { float: left; margin: 12px 0 0; width: 100%; }
.fellow-front-page .front-items .items .url a { position: absolute; left: 130px; bottom: -60px; }
.fellow-front-page .pink-panel { margin-top: 50px; }
.fellow-front-page .pink-panel .google-forms { float: left; margin: 57px 0 75px; width: 100%; }
.fellow-front-page .pink-panel .google-forms .views-row { position: relative; float: left; margin: 0 25px 0 0; width: 256px; height: 438px; }
.fellow-front-page .pink-panel .google-forms .views-row-last { margin-right: 0; }
.fellow-front-page .pink-panel .google-forms .title { font: 22px/109% "tradegothic", Arial, serif; }
.fellow-front-page .pink-panel .google-forms .title span { font: bold italic 35px "planit", georgia, serif; }
.fellow-front-page .pink-panel .google-forms .body { margin-top: 21px; font-size: 12px; }
.fellow-front-page .pink-panel .google-forms .body p { margin-bottom: 20px; }
.fellow-front-page .pink-panel .google-forms .image { position: absolute; bottom: 0; width: 281px; height: 79px; background: url(../images/white-dots.png) repeat-x 1px 78px; }
.fellow-front-page .pink-panel .google-forms .views-row-last .image { width: 100%; }
.fellow-front-page .pink-panel .google-forms .image img { margin-left: 60px; }
.fellow-front-page .pink-panel .google-forms .url a { position: absolute; left: 130px; bottom: -40px; }
.fellow-front-page .blogs { float: left; margin: 50px 0 100px; width: 100%; }
.fellow-front-page .blogs > .inside { background: url(../images/home-blog-bg.png) no-repeat 30px bottom; }
.fellow-front-page .blogs .left-region { width: 150px; }
.fellow-front-page .blogs .blogs-region { float: right; width: 655px; }
.fellow-front-page .blogs .blogs-link a { display: block; font: bold italic 26px/108% "plantin", Georgia, serif; background: url(../images/blog-heading.png) no-repeat right 0; }
.fellow-front-page .blogs .blogs-summary { margin-top: 15px; color: #aaa; font-size: 11px; line-height: 145%; }

/* Fellow Page */
.fellow-page {  }
.fellow-page .node-item-region { width: 530px; }
.fellow-page .node-item { margin-top: 79px; }
.fellow-page .node-item > .inside { padding-bottom: 71px; background: url(../images/dots-bg.png) repeat-x 0 bottom; }
.fellow-page .node-item .right-region { float: right; width: 255px; }
.fellow-page .node-item .node-item-region .title { font: 39px/98% "plantin", Arial, serif; letter-spacing: -2px; }
.fellow-page .node-item .node-item-region .body { margin: 48px 25px 0 92px; line-height: 150%; }
.fellow-page .pink-panel { margin: 20px 0 100px; background: url(../images/planet-t.png) no-repeat center 0; }
.fellow-page .pink-panel > .inside { margin-top: 57px !important; }
.fellow-page .pink-panel .from-blog { margin: 75px 0; }
.fellow-page .pink-panel .from-blog .left-region { width: 150px; }
.fellow-page .pink-panel .from-blog .from-blog-region { float: right; width: 655px; }
.fellow-page .pink-panel .from-blog .left-region .title { font: bold italic 21px/86% "plantin", Georgia, serif; }
.fellow-page .pink-panel .from-blog .left-region .summary { margin-top: 15px; font-size: 11px; line-height: 145%; }
.fellow-page .pink-panel .fellow-blogs-view .title { background-color: #000; }
.fellow-page .pink-panel .fellow-blogs-view .leadline { color: #fff; }

/* Fellow Blogs Page */
.fellow-blogs-page {  }
.fellow-blogs-page .centered { margin: 129px 0 100px; }
.fellow-blogs-page .centered .left-region { width: 150px; }
.fellow-blogs-page .centered .blogs-region { float: right; width: 655px; }
.fellow-blogs-page .centered .blogs-link { float: left; width: 100%; }
.fellow-blogs-page .centered .blogs-link a { display: block; font: bold italic 26px/108% "plantin", Georgia, serif; background: url(../images/blog-heading.png) no-repeat right 0; }
.fellow-blogs-page .centered .blogs-summary { float: left; margin-top: 15px; width: 100%; color: #aaa; font-size: 11px; line-height: 145%; }
.fellow-blogs-page .centered .blogs-categories { float: left; margin-top: 50px; width: 100%; }
.fellow-blogs-page .centered .blogs-categories .pane-title { float: left; margin: 0; width: 100%; font: bold italic 26px/108% "plantin", Georgia, serif; }
.fellow-blogs-page .centered .blogs-categories .pane-content > .menu { float: left; margin-top: 13px; width: 100%; }
.fellow-blogs-page .centered .blogs-categories .pane-content > .menu li { margin-top: 10px; font-size: 11px; line-height: 164%;  }
.fellow-blogs-page .centered .blogs-categories .pane-content > .menu .menu { margin: 0 0 20px 10px; }
