.article-page .content-back { height: 950px; background: url(/sites/all/themes/myplanet/images/resources-back.png) no-repeat center 0; }
.article-page .main-content { padding-top: 143px; }
.article-page .main-content .left-region { width: 175px; margin-right: 20px; }
.article-page .main-content .center-region { float: left; width: 496px; }
.article-page .main-content .right-region { float: right; width: 236px; }
.article-page .main-content .left-region .return-link { padding-bottom: 7px; background: url(../images/divider.png) repeat-x 0 bottom; }
.article-page .main-content .left-region .return-link a { display: block; padding-left: 15px; color: #000; background: url(../images/arrow_left_nobg.png) no-repeat -14px -6px; }
.article-page .main-content .left-region .sub-title { margin-top: 41px;  }
.article-page .main-content .left-region .user-article-page-view { margin-top: 20px; }
.article-page .main-content .left-region .text { margin-top: 9px; line-height: 192%; }
.article-page .main-content .center-region .link { display: none; }
.article-page .main-content .center-region .date-created { float: left; padding: 0 11px 0 0; }
.article-page .main-content .center-region .main-category { float: left; padding: 1px 11px 0 0; color: #f05a28; font-size: 11px; font-weight: bold; }
.article-page .main-content .center-region .main-category .field-item { float: left; padding: 0 10px 0 0; }
.article-page .main-content .center-region .main-category .field-item:last-child { padding: 0; }
.article-page .main-content .center-region .second-category { float: left; padding: 1px 0 0; font-size: 11px; font-weight: bold; }
.article-page .main-content .center-region .second-category .field-item { float: left; padding: 0 10px 0 0; }
.article-page .main-content .center-region .second-category .field-item:last-child { padding: 0; }
.article-page .main-content .center-region .title { clear: both; margin-top: 2px; padding-bottom: 43px; font: 41px/100% "plantin", Georgia, serif; letter-spacing: -2px; background: url(../images/divider.png) repeat-x 0 bottom; }
.article-page .main-content .center-region .social-buttons { padding: 15px 0 0 82px; }
.article-page .main-content .center-region .short { padding: 14px 0 20px 80px; font: 24px/117% "plantin", Georgia,serif; letter-spacing: -1px; }
.article-page .main-content .center-region .body { padding: 12px 0 38px; }
.article-page .main-content .center-region .comment-form-title { padding: 42px 0 18px; }
.article-page .main-content .center-region .comments-view {  }
.article-page .main-content .right-region .links { height: 29px; background: url(../images/divider.png) repeat-x 0 bottom; }
.article-page .main-content .right-region .links .previous { float: left; }
.article-page .main-content .right-region .links .previous a { padding-left: 15px; color: #000; background: url(../images/arrow_left_nobg.png) no-repeat -14px -9px; }
.article-page .main-content .right-region .links .next { float: right; }
.article-page .main-content .right-region .links .next a { padding-right: 15px; color: #000; background: url(../images/arrow_right_nobg.png) no-repeat 53px -9px; }
.article-page .main-content .right-region .sub-title { clear: both; margin-top: 41px; }
.article-page .main-content .right-region .resources-realated-view { margin-top: 21px; }
.article-page .bottom-links { padding: 85px 0 0; }
.article-page .bottom-links .left-region { width: 175px; }
.article-page .bottom-links .right-region { float: right; width: 755px; }
.article-page .bottom-links .link { float: left; width: 355px; padding-bottom: 8px; background: url(../images/divider.png) repeat-x 0 bottom; }
.article-page .bottom-links .link .title { color: grey; font: italic 11px/145% Georgia; }
.article-page .bottom-links .link.previous .title { padding-left: 18px; }
.article-page .bottom-links .link a { display: block; margin-top: -2px; color: #000; font-weight: bold; font-size: 11px; line-height: 182%; }
.article-page .bottom-links .previous { margin-right: 45px; }
.article-page .bottom-links .previous a { padding: 0 0 0 18px; background: url(../images/arrow_left_nobg.png) no-repeat -14px -7px; }
.article-page .bottom-links .next a { padding-right: 18px; background: url(../images/arrow_right_nobg.png) no-repeat 334px -7px; }

.resources-hidden-view { display: none; }

.user-article-page-view  .image { font-size: 0; line-height: 0; }
.user-article-page-view  .fullname { margin-top: 21px; font-weight: bold; }

.resources-realated-view .item-list ul li { position: relative; float: none !important; margin-bottom: 32px; width: 236px; }
.resources-realated-view .main-category { position: absolute; left: 25px; top: 16px; color: #f05a28; font-size: 11px; font-weight: bold; }
.resources-realated-view .title { padding: 34px 25px 0; height: 151px; font: 25px/27px "plantin", Georgia, serif; letter-spacing: -1px; background-color: #f1f1f1; }
.resources-realated-view .leadline { padding-top: 10px; font: italic 11px/150% Georgia, Arial, sans-serif; color: #333; }
.resources-realated-view .leadline div { display: inline; }
.resources-realated-view .layer a { position: absolute; display: block; padding: 20px 20px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.resources-realated-view .title2 { font-size: 13px; font-weight: bold; }
.resources-realated-view .summary { margin-top: 10px; }
.resources-realated-view .link { position: absolute; bottom: 15px; width: 100px; height: 20px; font-weight: bold; background: url(../images/mp_sprite.png) no-repeat 11px -47px; }