.careers-page .slideshow-view { padding: 12px 0 21px; background: url(../images/divider.png) repeat-x 0 bottom; }
.careers-page .slideshow-view .view-content { position: relative; width: 950px; height: 500px; }
.careers-page .incentives { padding-top: 30px; }
.careers-page .incentives .left-region { width: 175px; margin-right: 20px; }
.careers-page .incentives .center-region { width: 367px; }
.careers-page .incentives .center-region .text { margin-top: -6px; font: 25px/140% "plantin", Georgia, serif; letter-spacing: -1px; }
.careers-page .incentives .right-region { float: right; width: 368px; }
.careers-page .incentives .right-region .image { font-size: 0; line-height: 0; }
.careers-page .incentives .right-region .image img { max-width: 100%; height: auto; }
.careers-page .benefits { padding: 32px 0 44px; background: url(../images/divider.png) repeat-x 0 bottom; }
.careers-page .benefits .right-region { float: right; width: 755px; }

.benefits-view .views-row { position: relative; margin: 0 23px 37px 0; width: 236px; height: 174px; background: url(../images/benefit-back.png) no-repeat 0 0; }
.benefits-view .title { padding: 21px 30px; font: 25px/27px "plantin", Georgia, serif; letter-spacing: -1px; }
.benefits-view .layer { position: absolute; display: block; padding: 25px 30px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.benefits-view .image { position: absolute; left: 30px; bottom: 0; font-size: 0; line-height: 0; }
.benefits-view .title2 { font-size: 13px; font-weight: bold; }
.benefits-view .body { margin-top: 10px; font-size: 12px; line-height: 150%; }