.event-page .top-image { background: url(../images/divider.png) repeat-x 0 bottom; }
.event-page .top-image > .pane-content { margin-left: -21px; width: 971px; height: 116px; font-size: 0; line-height: 0; text-indent: -1000px; background: url(../images/events-header.png) no-repeat 0 0; }
.event-page .main-content { padding: 34px 0 41px; background: url(../images/divider.png) repeat-x 0 bottom; }
.event-page .main-content .left-region { width: 175px; margin-right: 20px; }
.event-page .main-content .center-region { width: 504px; }
.event-page .main-content .right-region { float: right; width: 174px; }
.event-page .main-content .center-region .image { font-size: 0; line-height: 0; }
.event-page .main-content .center-region .title { padding: 18px 0 29px 0; font: 36px/114% "plantin", Georgia, serif; letter-spacing: -1px; background: url(../images/divider.png) repeat-x 0 bottom; }
.event-page .main-content .center-region .body { padding: 15px 0 0 85px; font: 24px/125% "plantin", Georgia, serif; letter-spacing: -1px; }
.event-page .main-content .center-region .event-details { padding-top: 15px; font-size: 15px; line-height: 200%; font-weight: bold; }
.event-page .main-content .center-region .date-start { padding: 6px 0 0 85px; font: 24px/125% "plantin", Georgia, serif; letter-spacing: -1px; }
.event-page .main-content .center-region .address { padding-left: 85px; font: 24px/125% "plantin", Georgia, serif; letter-spacing: -1px; }
.event-page .main-content .center-region .latlng { display: none; }
.event-page .main-content .center-region .map { margin-top: 39px; width: 504px; height: 328px; }
.event-page .main-content .center-region .sign-up-title { padding: 34px 0 9px; font-size: 15px; line-height: 200%; font-weight: bold; }
.event-page .main-content .right-region .events-featured-view { padding-top: 25px; }
.event-page .main-content .right-region .link { clear: both; padding: 20px 0 8px; background: url(../images/divider.png) repeat-x 0 bottom; }
.event-page .main-content .right-region .link a { display: block; color: #000; background: url(../images/arrow_right_nobg.png) no-repeat 140px -6px; }

.events-featured-view .views-row { margin-bottom: 47px; background-color: #f1f1f1; }
.events-featured-view .image { font-size: 0; line-height: 0; }
.events-featured-view .date-start { padding: 16px 17px 0; font-size: 12px; line-height: 167%; font-weight: bold; }
.events-featured-view .title { padding: 1px 17px 41px; font: 16px/125% "plantin", Georgia, serif; }
.events-featured-view .title a { color: #000; }