/* Tags */
body { margin: 0; padding: 0; color: black; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 175%; }
ul, ul.menu, .item-list ul { margin: 0; padding: 0; list-style: none; }
ul li, ul.menu li, .item-list ul li { margin: 0; padding: 0; list-style: none; }
html body.admin-menu { margin-top: 30px !important; }
table { border-spacing: 0; }
td { padding: 0; }
a { color: #f05a28; text-decoration: none; }
a:hover { color: #000; }
p { margin: 0; }

/* Cascade */
#header-wrapper { height: 67px; background-color: #000; color: #888; }
#header { margin: 0 auto; padding-top: 13px; width: 990px; }
#content-wrapper { position: relative; }
#content-back-top { position: absolute; left: 0; right: 0; top: 0; height: 328px; background: url(../images/top.gif) repeat-x center -248px; }
#content-menu-divider { position: absolute; left: 0; right: 0; top: 174px; height: 1px; background: url(../images/divider.png) repeat-x 0 0; }
#content-back { position: absolute; left: 0; right: 0; top: 175px; bottom: 0; }
#content-back-bottom { position: absolute; left: 0; bottom: 0; width: 100%; height: 328px; background: url(../images/bottom.gif) repeat-x right 256px; }
#content { position: relative; z-index: 5; margin: 0 auto; padding: 50px 0 63px; width: 1000px; }
#content-inner { padding: 28px 25px 32px; }
#footer-wrapper { height: 352px; background-color: #000; color: white; }
#footer { margin: 0 auto; padding-top: 35px; width: 950px; color: #777; font-size: 12px; line-height: 183%; }
#footer a { color: #777; }

/* Header */
.header {  }
.header .top-menu { float: right; }
.header .top-menu ul.menu li { float: left; }
.header .top-menu ul.menu li a { float: left; padding: 15px 17px; font-size: 12px; line-height: 233%; color: #888; }
.header .to-top { position: fixed; z-index: 1000; display: none; bottom: 20px; right: 20px; width: 77px; height: 77px; text-align: center; cursor: pointer; background: url(../images/to-top.png) no-repeat 0 0; }
.header .to-top .pane-content { padding: 36px 29px; color: #fff; text-decoration: none; background: url(../images/arrow_up.png) no-repeat 24px 12px; }

/* Content Top */
.content-top { position: relative; }
.content-top .menu-region { width: 100%; }
.content-top .logo-region .logo { position: absolute; z-index: 20; left: 1px; top: -6px; font-size: 0; line-height: 0; }
.content-top .logo-region .logo a { display: block; width: 129px; height: 128px; background: url(../images/logo.png) no-repeat 0 0; }
.content-top .logo-region .sticker { position: absolute; z-index: 15; left: 109px; top: -125px; font-size: 0; line-height: 0; }
.content-top .logo-region .sticker a { display: block; width: 150px; height: 150px; background: url(../images/sticker.png) no-repeat 0 0; }
.content-top .menu-region .main-menu { float: right; padding-top: 51px; margin-right: -15px; }
.content-top .menu-region .main-menu ul.menu li { float: left; }
.content-top .menu-region .main-menu ul.menu li a { float: left; padding: 0 18px 18px; font: bold 20px/140% "plantin", Georgia, serif; color: black; letter-spacing: -1px; background: transparent url(../images/circle.png) no-repeat center -6px; }

/* Content Bottom */
.content-bottom { padding-bottom: 24px; background: url(../images/divider.png) repeat-x 0 bottom; }
.content-bottom .breadcrumb { padding-bottom: 1px; }
.content-bottom .breadcrumb ul.menu li { float: left; }
.content-bottom .breadcrumb ul.menu li a { float: left; padding-right: 35px; color: #000; background: url(../images/arrow_right_nobg.png) no-repeat right -8px; }
.content-bottom .breadcrumb ul.menu li.last a { background: none;z }

/* Footer */
.footer {  }
.footer .footer-1 { padding-right: 45px; width: 150px; }
.footer .footer-2 { padding-right: 55px; width: 150px; }
.footer .footer-3 { padding-right: 52px; width: 130px; }
.footer .footer-4 { width: 230px; }
.footer .footer-5 { float: right; width: 125px; }
.footer .footer-1 .logo a { display: block; width: 82px; height: 82px; font-size: 0; line-height: 0; text-indent: -1000px; overflow: hidden; background: url(../images/logo-footer.png) no-repeat 0 0; }
.footer .footer-1 .copyright { margin-top: 34px; font-weight: bold; }
.footer .footer-2 .image, .footer .footer-3 .image { margin-top: 10px; width: 46px; height: 49px; font-size: 0; line-height: 0; text-indent: -1000px; overflow: hidden; background: url(../images/footer-toronto.png) no-repeat 0 0; }
.footer .footer-2 .title, .footer .footer-3 .title { margin-top: 15px; font-weight: bold; }
.footer .footer-4 .email, .footer .footer-5 .title { margin: 42px 0 14px; font: bold italic 15px "plantin", Georgia, serif; }
.footer .footer-5 .links { margin-left: 6px; }
.footer .footer-5 .links a { float: left; display: block; margin: 0 5px 8px 0; width: 33px; height: 33px; background: url(../images/footer-links.png) no-repeat 0 0; }
.footer .footer-5 .links .link-1 { background-position: 0 0; }
.footer .footer-5 .links .link-2 { background-position: -33px 0; }
.footer .footer-5 .links .link-3 { background-position: -66px 0; margin-right: 0; }
.footer .footer-5 .links .link-4 { background-position: 0 -33px; }
.footer .footer-5 .links .link-5 { background-position: -33px -33px; }
.footer .footer-5 .links .link-6 { background-position: -66px -33px; margin-right: 0; }

/* General Elements */
.orange { color: #f05a28 !important; }
.inside { margin: 0 !important; }
.panel-separator { display: none; }
.panels-flexible-row { padding: 0; }
.panels-flexible-region-inside { padding: 0; }
.views-row { position: relative; float: left; }
.views-row.my-col-last { float: right; margin-right: 0 !important; }
.views-row.my-row-last { margin-bottom: 0 !important; }
.sub-title { color: #f05a28; font: bold italic 17px/100% "plantin", Georgia, serif; }

/* Page Title */
.page-title { background: url(../images/divider.png) repeat-x 0 bottom; }
.page-title .title { position: absolute; z-index: 20; padding-top: 4px; width: 80%; font: bold 100px/100% "tradegothic", Arial, serif; letter-spacing: -5px; }
.page-title .menu { position: relative; z-index: 25; float: right; width: 80%; }
.page-title .menu ul { margin-right: -18px; padding-top: 73px; width: auto; }
.page-title .menu ul li { float: left; }
.page-title .menu ul li a { float: left; display: block; margin: 0 18px; padding-bottom: 15px; font: bold 20px/140% "plantin", Georgia, serif; color: black; letter-spacing: -1px; }
.page-title .menu ul li a:hover { color: #f05a28; }
.page-title .menu ul li a.active { font-style: italic; background: url(../images/sub-menu-back.png) no-repeat center 30px; }

/* Focal Slideshow */
.focal-slideshow { position: relative; width: 950px; height: 495px; }
.focal-slideshow .slides { position: relative; width: 950px; height: 495px; overflow: hidden; }
.focal-slideshow .slides ul { width: 9000px; }
.focal-slideshow .slides ul li { float: left; width: 950px; height: 495px; }
.focal-slideshow .focal-nav { position: absolute; z-index: 500; display: block; bottom: 30px; width: 78px; height: 78px; background: url(../images/mp_sprite.png) no-repeat; cursor: pointer; text-indent: -1000px; overflow: hidden; }
.focal-slideshow .focal-prev { background-position: -28px -143px; right: 92px; }
.focal-slideshow .focal-prev:hover { background-position: -208px -143px; }
.focal-slideshow .focal-next { background-position: -28px -18px; right: 10px; }
.focal-slideshow .focal-next:hover { background-position: -208px -18px; }
.slideshow { position: relative; }
.slideshow a { display: block; font-size: 0; line-height: 0; }
.views-slideshow-controls-text span { position: absolute; z-index: 500; display: block; bottom: 10px; width: 78px; height: 78px; background: url(../images/mp_sprite.png) no-repeat; cursor: pointer; text-indent: -1000px; overflow: hidden; }
.views-slideshow-controls-text span.views-slideshow-controls-text-previous { background-position: -28px -143px; right: 92px; }
.views-slideshow-controls-text span.views-slideshow-controls-text-previous:hover { background-position: -208px -143px; }
.views-slideshow-controls-text span.views-slideshow-controls-text-pause { display: none; }
.views-slideshow-controls-text span.views-slideshow-controls-text-next { background-position: -28px -18px; right: 10px; }
.views-slideshow-controls-text span.views-slideshow-controls-text-next:hover { background-position: -208px -18px; }


#projects .thumbnail { width: 236px; padding: 0 0 23px 22px; }
#projects .thumbnail .thumb_image { font-size: 0; line-height: 0; }
#projects .thumbnail .title { margin-top: 11px; font-weight: bold; }
#projects .thumbnail .leadline { margin: -4px 0 0 1px; font-family: Georgia, Arial, sans-serif; font-size: 12px; font-style: italic; color: #000; }
#projects .thumbnail .link { position: absolute; top: 0; left: 0; margin-left: 22px; height: 222px; background-color: #000; opacity: 0; filter: alpha(opacity=0); }
#projects .thumbnail .link a { color: #fff; }
#projects .thumbnail .group { padding: 32px 26px 32px 33px; }
#projects .thumbnail .title2 { margin-bottom: 12px; height: 16px; overflow: hidden; font-weight: bold; font-size: 13px; line-height: 15px; }
#projects .thumbnail .body { font-size: 12px; line-height: 18px; }
#projects .thumbnail .readmore { margin-top: 11px; width: 98px; height: 20px; font-weight: bold; color: #f05a28; background: transparent url(../images/mp_sprite.png) no-repeat 21px -47px; }
#disciplines .thumbnail .title { padding: 59px 35px 60px 0; text-align: center; font-size: 18px; font-weight: bold; font-style: italic; color: #fff; background: transparent url(../images/black_circle.png) no-repeat 0 0; }
#disciplines .thumbnail .body { margin-top: 50px; }
#area_expertise .thumbnail { height: 212px; background: transparent url(../images/divider.gif) no-repeat 0 211px; }
#area_expertise .views-line-last.thumbnail { background: none; height: auto; }
#area_expertise .thumbnail .title { font-weight: bold; font-style: italic; font-size: 20px; line-height: 21px; letter-spacing: -1px; }
#area_expertise .thumbnail .body { margin-top: 20px; }
#area_interest .thumbnail .title { margin: 20px 0 0 368px; width: 582px; font-size: 40px; line-height: 49px; font-weight: bold; font-style: italic; letter-spacing: -1px; }
#area_interest .thumbnail .body { margin: 14px 0 0 368px; width: 582px; font-size: 25px; line-height: 35px; letter-spacing: -1px; }
#area_interest .thumbnail .divider2 { margin: 20px 0 0 368px; width: 582px; }
#area_interest .thumbnail .readmore { margin: 9px 0 0 368px; padding: 8px 0 0 30px; font-weight: bold; background: transparent url(../images/arrow_right_nobg.png) no-repeat -12px 0; }
#area_interest .thumbnail .readmore a { color: #f05a28; }
#privacy_policy .thumbnail .title { float: left; width: 174px; }
#privacy_policy .thumbnail .body { margin-left: 194px; width: 582px; }
#blog_image { height: 353px; overflow: hidden; font-size: 0; line-height: 0; }
#blog_image img { margin-top: -108px; }
#blog_topics ul li { background: transparent url(../images/divider.gif) no-repeat left bottom; }
#blog_topics ul li a { display: block; margin: 27px 0 3px; padding: 6px 0 2px; height: 24px; color: #000; background: transparent url(../images/arrow_right_nobg.png) no-repeat 137px 0; }
.full_blogs .view-content li { clear: both; margin-bottom: 82px; }
.full_blogs .image { float: left; font-size: 0; line-height: 0; }
.full_blogs .name { clear: both; float: left; margin-top: 5px; }
.full_blogs .description { margin-left: 135px; }
.full_blogs .title_postdate { height: 146px; }
.full_blogs .title a { font-size: 30px; line-height: 30px; letter-spacing: -1px; color: #000; }
.full_blogs .title a:hover { color: #f05a28; }
.full_blogs .postdate { font-size: 12px; font-weight: bold; color: #929292; }
.full_blogs .body a { color: #f05a28; }
.full_blogs .body a:hover { color: #000; }
.full_blogs .link { margin-top: 32px; background: transparent url(../images/divider.gif) no-repeat 0 0; }
.full_blogs .link a { display: block; margin-top: 5px; padding: 13px 0 0 43px; width: 100px; height: 28px; font-weight: bold; color: #f05a28; background: transparent url(../images/mp_sprite.png) no-repeat -50px -272px; }
.full_blogs .link a:hover { color: #000; }
.full_blogs .pager { margin-left: 67px; }
.full_blogs .pager li { float: left; display: block; margin: 0 5px 0 0; padding: 0; width: 38px; height: 39px; border-radius: 36px; background-color: #000; color: #fff; }
.full_blogs .pager li a { display: block; padding-top: 9px; width: 100%; height: 30px; color: #fff; }
.full_blogs .pager li:hover { background-color: #f05a28; }
.full_blogs .pager .pager-current { padding-top: 9px; height: 30px; background-color: #f05a28; }
.full_blogs .pager .pager-next { text-indent: -1000px; overflow: hidden; background: #000 url(../images/mp_sprite.png) no-repeat -47px -276px; }
.full_blogs .pager .pager-next:hover { background-position: -224px -276px; }
.full_blogs .pager .pager-last { text-indent: -1000px; overflow: hidden; background: #000 url(../images/mp_sprite.png) no-repeat -418px -276px; }
.full_blogs .pager .pager-last:hover { background-position: -413px -366px; }
.full_blogs .pager .pager-first { text-indent: -1000px; overflow: hidden; background: #000 url(../images/mp_sprite.png) no-repeat -582px -276px; }
.full_blogs .pager .pager-first:hover { background-position: -587px -366px; }
.full_blogs .pager .pager-previous { text-indent: -1000px; overflow: hidden; background: #000 url(../images/mp_sprite.png) no-repeat -46px -366px; }
.full_blogs .pager .pager-previous:hover { background-position: -233px -366px; }
#blog_twitter li { margin: 0 0 30px 0; }
#blog_twitter .title { margin-bottom: 10px; }
#blog_twitter .tweet-time { font-size: 10px; color: #999; }
#blog_twitter .tweet-text a { color: #f05a28; border-bottom: 1px dotted #ccc; }
#follow_us { height: 41px; }
#follow_us .title { float: left; margin-top: 8px; }
#follow_us .twitter_link { float: right; width: 41px; height: 41px; background: transparent url(../images/mp_sprite.png) no-repeat -47px -935px; }
#follow_us .twitter_link:hover { background-position: -229px -935px; }
#follow_us .blog_link { float: right; width: 41px; height: 41px; background: transparent url(../images/mp_sprite.png) no-repeat -45px -664px; }
#follow_us .blog_link:hover { background-position: -227px -664px; }
#follow_us a { display: block; width: 100%; height: 100%; font-size: 0; line-height: 0; }
#blog_featured li { margin-top: 21px; }
#blog_featured li.views-row-1 { margin-top: 0; }
#blog_featured .title { margin-bottom: 10px; }
#blog_featured .postdate { font-weight: bold; }
#blog_featured a { color: #000; }
#blog_featured a:hover { color: #f05a28; }
#blog_featured .blog_title { height: 65px; background: transparent url(../images/divider.gif) no-repeat left bottom; }
#offices .thumbnail { float: left; margin-right: 20px; width: 238px; }
#offices .title { margin-bottom: 15px; }
#offices .title a { color: #000; font-size: 17px; font-weight: bold; font-style: italic; letter-spacing: -1px; }
#offices .map-link { text-align: right; }
#offices .map-link a { color: #f05a28; font-size: 10px; border-bottom: 1px dotted #ccc; }
#offices .toll_free { margin-top: 20px; }
#offices .toll_free .views-label { float: left; margin-right: 5px; }
#offices .fax .views-label { float: left; margin-right: 5px; }

/* Views */
.front-items-view {  }
.front-items-view .views-row { margin-right: 23px; width: 301px; height: 235px; background: url(../images/front-item-back.png) no-repeat 0 0; }
.front-items-view .title { margin: 35px 30px; font: 35px/90% "plantin", Georgia, serif; letter-spacing: -2px; }
.front-items-view .link { font-size: 0; line-height: 0; }
.front-items-view .link a { position: absolute; display: block; bottom: 16px; right: 24px; width: 50px; height: 50px; background: url(../images/arrow-orange.png) no-repeat 0 0; }
.front-items-view .layer a { position: absolute; display: block; padding: 25px 40px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.front-items-view .title2 { font-size: 13px; font-weight: bold; }
.front-items-view .summary { margin-top: 10px; }
.front-items-view .link2 { position: absolute; bottom: 25px; width: 100px; height: 20px; font-weight: bold; background: url(../images/mp_sprite.png) no-repeat 21px -47px; }
.team-categories-view {  }
.team-categories-view .views-row { float: none; margin-bottom: 5px; }
.team-categories-view a { color: #000; }
.our-team-view {  }
.our-team-view .views-row { margin-right: 15px; margin-bottom: 27px; width: 139px; height: 174px; }
.our-team-view .image { font-size: 0; line-height: 0; }
.our-team-view .layer { position: absolute; display: block; padding: 15px 15px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.our-team-view .full-name { font-size: 13px; font-weight: bold; }
.our-team-view .leadline { margin-top: 10px; }
.our-team-view .twitter { position: absolute; bottom: 15px; font-weight: bold; }
.our-team-view .twitter a:hover { color: #fff !important; }
.benefits-view {  }
.benefits-view .views-row { position: relative; margin: 0 23px 37px 0; width: 236px; height: 174px; background: url(../images/benefit-back.png) no-repeat 0 0; }
.benefits-view .title { padding: 21px 30px; font: 25px/140% "plantin", Georgia, serif; letter-spacing: -1px; }
.benefits-view .layer { position: absolute; display: block; padding: 23px 27px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.benefits-view .image { position: absolute; left: 30px; bottom: 0; font-size: 0; line-height: 0; }
.benefits-view .title2 { display: inline; font: bold 12px/150% Arial, Helvetica, sans-serif; }
.benefits-view .body { display: inline; font: 12px/150% Arial, Helvetica, sans-serif; }
.related-view {  }
.related-view .views-row { margin-right: 23px; width: 236px; }
.related-view .title { height: 175px; font: 25px/140% "plantin", Georgia, serif; letter-spacing: -1px; background-color: #f1f1f1; }
.related-view .title .field-content { padding: 21px 25px; }
.related-view .leadline { padding-top: 11px; font: italic 11px/150% Georgia, Arial, sans-serif; color: #333; }
.related-view .leadline div { display: inline; }
.related-view .layer a { position: absolute; display: block; padding: 20px 20px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.related-view .title2 { font-size: 13px; font-weight: bold; }
.related-view .summary { margin-top: 10px; }
.related-view .link { position: absolute; bottom: 15px; width: 100px; height: 20px; font-weight: bold; }
.job-posts-view {  }
.job-posts-view .views-row { margin: 0 23px 25px 0; width: 236px; }
.job-posts-view .title { height: 167px; font: 25px/140% "plantin", Georgia, serif; letter-spacing: -1px; background: url(../images/job-post-back.png) no-repeat 0 0; }
.job-posts-view .title .field-content { padding: 21px 25px; }
.job-posts-view .leadline { padding-top: 8px; font: italic 11px/150% Georgia, Arial, sans-serif; color: #333; }
.job-posts-view .leadline div { display: inline; }
.job-posts-view .layer a { position: absolute; display: block; padding: 20px 20px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.job-posts-view .title2 { font-size: 13px; font-weight: bold; }
.job-posts-view .summary { margin-top: 10px; }
.job-posts-view .link { position: absolute; bottom: 15px; width: 100px; height: 20px; font-weight: bold; }
.resources-view {  }
.resources-view .views-row.grid-2 { margin: 0 21px 22px 0; width: 368px; height: 278px; background-color: #f1f1f1; }
.resources-view .grid-2 .image { float: left; font-size: 0; line-height: 0; }
.resources-view .grid-2 .main-category { margin: 15px 0 0 130px; font-weight: bold; color: #f05a28; }
.resources-view .grid-2 .title { margin-left: 130px; font: 25px/108% "plantin", Georgia, serif; letter-spacing: -1px; }
.resources-view .grid-2 .body { margin: 10px 22px 0 130px; }
.resources-view .grid-2 .layer a { position: absolute; display: block; padding: 25px 28px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.resources-view .grid-2 .title2 { font: 25px/108% "plantin", Georgia, serif; letter-spacing: -1px; }
.resources-view .grid-2 .leadline { margin-top: 10px; font-weight: bold; }
.resources-view .grid-2 .leadline .postdate { margin-right: 8px; }
.resources-view .grid-2 .body2 { margin-top: 16px; }
.resources-view .grid-2 .link { position: absolute; right: 13px; bottom: 19px; width: 100px; height: 20px; font-weight: bold; background: url(../images/mp_sprite.png) no-repeat 10px -47px; }
.resources-view .views-row.grid-4 { margin: 0 20px 22px 0; width: 174px; height: 274px; background-color: #f1f1f1; }
.resources-view .grid-4 .image { font-size: 0; line-height: 0; }
.resources-view .grid-4 .main-category { margin: 14px 17px 0; font-weight: bold; color: #f05a28; }
.resources-view .grid-4 .title { margin: 8px 17px 0; font: 17px/103% "plantin", Georgia, serif; letter-spacing: -1px; }
.resources-view .pager { padding-top: 20px; }
.resources-main-category-menu-view {  }
.resources-main-category-menu-view .views-row { float: none; width: 100%; height: 35px; background: url(../images/divider.png) repeat-x 0 bottom; }
.resources-main-category-menu-view .title a { display: block; padding: 6px 0 0 17px; color: #141414; font-weight: normal; background: url(../images/blog-filter.png) no-repeat 1px 11px; }
.resources-main-category-menu-view .title a.active { background: url(../images/blog-filter-active.png) no-repeat 1px 11px; }
.resources-second-category-menu-view {  }
.resources-second-category-menu-view .views-row { float: none; width: 100%; height: 35px; background: url(../images/divider.png) repeat-x 0 bottom; }
.resources-second-category-menu-view .title a { display: block; padding: 6px 0 0 17px; color: #141414; font-weight: normal; background: url(../images/blog-filter.png) no-repeat 1px 11px; }
.resources-second-category-menu-view .title a.active { background: url(../images/blog-filter-active.png) no-repeat 1px 11px; }
.resources-tags-menu-view {  }
.resources-tags-menu-view .views-row { float: none; width: 100%; height: 35px; background: url(../images/divider.png) repeat-x 0 bottom; }
.resources-tags-menu-view .title { float: left; }
.resources-tags-menu-view .title a { display: block; padding-top: 6px; color: #141414; font-weight: normal; }
.resources-tags-menu-view .count { float: right; padding-top: 6px; color: #b4b4b4; }
.resources-archive-menu-view .views-summary li { float: none; padding-top: 6px; width: 100%; height: 29px; text-align: right; color: #b4b4b4; font-weight: normal; background: url(../images/divider.png) repeat-x 0 bottom; }
.resources-archive-menu-view .views-summary li a { float: left; color: #141414; }

/* Front Page */
.front #content-back { background: url(../images/front-page.png) no-repeat center 0; }
.front-page { padding-bottom: 100px; }
.front-page .front-items-view { padding-top: 496px; }

/* Careers - Work at Myplanet */
.careers_page { padding-bottom: 100px; }
.careers_page .focal-slideshow { padding: 12px 0 21px; background: url(../images/divider.png) repeat-x 0 bottom; }
.careers_page .incentives { padding-top: 30px; }
.careers_page .incentives .left-region { width: 175px; margin-right: 20px; }
.careers_page .incentives .center-region { width: 367px; }
.careers_page .incentives .center-region .text { margin-top: -6px; font: 25px/140% "plantin", Georgia, serif; letter-spacing: -1px; }
.careers_page .incentives .right-region { float: right; width: 368px; }
.careers_page .incentives .right-region .image { font-size: 0; line-height: 0; }
.careers_page .benefits { padding: 32px 0 44px; background: url(../images/divider.png) repeat-x 0 bottom; }
.careers_page .benefits > .inside { float: right; width: 755px; }
.careers_page .related { padding: 34px 0 0; }
.careers_page .related .left-region { margin-right: 20px; width: 175px; }
.careers_page .related .right-region { float: right; width: 755px; }

/* Careers - Our Company */
.opportunities-page { padding-bottom: 100px; }
.opportunities-page .opportunities { padding: 34px 0 44px; background: url(../images/divider.png) repeat-x 0 bottom; }
.opportunities-page .opportunities .left-region { width: 175px; }
.opportunities-page .opportunities .left-region .sub-title { padding-bottom: 18px; background: url(../images/divider.png) repeat-x 0 bottom; }
.opportunities-page .opportunities .left-region .tax-menu { padding-top: 10px; }
.opportunities-page .opportunities .left-region .tax-menu ul li { background: url(../images/menu-back.png) no-repeat 153px 16px; }
.opportunities-page .opportunities .left-region .tax-menu ul li a { display: block; padding: 9px 0 6px; color: #000; background: url(../images/divider.png) repeat-x 0 bottom; }
.opportunities-page .opportunities .left-region .tax-menu ul li a.active { font-weight: bold; }
.opportunities-page .opportunities .left-region .tax-menu ul li ul { display: none; padding: 12px 0; background: url(../images/divider.png) repeat-x 0 bottom; }
.opportunities-page .opportunities .left-region .tax-menu ul li ul li { background: none; }
.opportunities-page .opportunities .left-region .tax-menu ul li ul li a { padding: 0 0 0 19px; background: none; }
.opportunities-page .opportunities .right-region { float: right; width: 755px; }
.opportunities-page .related { padding-top: 34px; }

/* Resources Page */
.resourses-page { padding-bottom: 100px; }
.resourses-page .top-image { background: url(../images/divider.png) repeat-x 0 bottom; }
.resourses-page .top-image .pane-content { margin-left: -21px; width: 971px; height: 116px; font-size: 0; line-height: 0; text-indent: -1000px; background: url(../images/resources.png) no-repeat 0 0; }
.resourses-page .main-body { padding-top: 27px; }
.resourses-page .main-body .left-region { width: 175px; }
.resourses-page .main-body .right-region { float: right; width: 757px; }
.resourses-page .main-body .left-region .sub-title { height: 37px; background: url(../images/divider.png) repeat-x 0 bottom; }
.resourses-page .main-body .left-region .resources-main-category-menu-view { padding-bottom: 34px; }
.resourses-page .main-body .left-region .resources-second-category-menu-view { padding-bottom: 34px; }
.resourses-page .main-body .left-region .resources-tags-menu-view { padding-bottom: 34px; }
.resourses-page .main-body .right-region .sort-view-subscribe { padding-bottom: 14px; height: 29px; }
.resourses-page .main-body .right-region .sort-view-subscribe .sort { float: left; }
.resourses-page .main-body .right-region .sort-view-subscribe .view { float: right; padding-top: 6px; font: italic 12px/133% Georgia, Arial, sans-serif; }
.resourses-page .main-body .right-region .sort-view-subscribe .subscribe { float: right; padding: 6px 0 0 15px; font: italic 12px/133% Georgia, Arial, sans-serif; }
.resourses-page .main-body .right-region .sort-view-subscribe .sort li { float: left; }
.resourses-page .main-body .right-region .sort-view-subscribe .sort li a { display: block; margin-right: 24px; padding: 4px 0 5px; color: #000; }
.resourses-page .main-body .right-region .sort-view-subscribe .sort li a.active { padding: 4px 30px 5px 14px; color: #fff; background-color: #000; }
.resourses-page .main-body .right-region .sort-view-subscribe .sort li a.date.active { background: #000 url(../images/mp_sprite.png) no-repeat -15px -561px; }
.resourses-page .main-body .right-region .sort-view-subscribe .sort li a.date.active.desc { background-position: -15px -465px; }
.resourses-page .main-body .right-region .sort-view-subscribe .sort li a.comments.active { background: #000 url(../images/mp_sprite.png) no-repeat 20px -561px; }
.resourses-page .main-body .right-region .sort-view-subscribe .sort li a.comments.active.desc { background-position: 20px -465px; }
.resourses-page .main-body .right-region .sort-view-subscribe .view div { float: left; }
.resourses-page .main-body .right-region .sort-view-subscribe .view .grid-2 a { display: block; margin-left: 10px; width: 15px; height: 15px; font-size: 0; line-height: 0; background: url(../images/blog-view-types.png) no-repeat 0 0; }
.resourses-page .main-body .right-region .sort-view-subscribe .view .grid-4 a { display: block; margin-left: 4px; width: 15px; height: 15px; font-size: 0; line-height: 0; background: url(../images/blog-view-types.png) no-repeat -15px 0; }
.resourses-page .main-body .right-region .sort-view-subscribe .subscribe div { float: left; }
.resourses-page .main-body .right-region .sort-view-subscribe .subscribe .image a { display: block; margin-left: 8px; width: 15px; height: 15px; font-size: 0; line-height: 0; background: url(../images/blog-subscribe.png) no-repeat 0 0; }



/* Work Page */
.work_page .projects { margin-top: 35px; }
.work_page #projects { float: right; }
.work_page .related { margin-top: 35px; }
.work_page #related { float: right; }

/* Project Page */
.project_page .description { margin-top: 35px; }
.project_page #title { padding-bottom: 10px; border-bottom: 1px dotted #949494; }
.project_page #url { margin-top: 10px; line-height: 19px; border-bottom: 1px dotted #949494; }
.project_page #url a { color: #f05a28; }
.project_page #url a:hover { color: #000; }
.project_page #body { margin: 0 20px 35px; font-size: 25px; line-height: 32px; letter-spacing: -1px; }
.project_page #additional h3 { margin-bottom: 20px; }
.project_page #additional li { margin-bottom: 40px; }
.project_page #additional li.last { margin-bottom: 0; }
.project_page #breadcrumb { margin-top: 90px; }

/* About Page */
.about_page .description { margin: 35px 0; }
.about_page #summary { margin: 0 20px; font-size: 36px; line-height: 37px; letter-spacing: -2px; }
.about_page .related { margin-top: 35px; }
.about_page #related { float: right; }
.about_page #related .thumbnail { width: 174px; margin: 0 0 0 20px; }
.about_page #breadcrumb { margin-top: 27px; }

/* Our Story Page */
.ourstory_page { padding-bottom: 50px; }
.ourstory_page .about-our-team { padding: 33px 0 44px; background: url(../images/divider.png) repeat-x 0 bottom; }
.ourstory_page .about-our-team .left-region { width: 172px; margin-right: 20px; }
.ourstory_page .about-our-team .left-region .sticker { margin: 17px 0 0 1px; width: 126px; height: 126px; font-size: 0; line-height: 0; text-indent: -1000px; overflow: hidden; background: url(../images/about-our-team-sticker.png) no-repeat 0 0; }
.ourstory_page .about-our-team .center-region { width: 370px; }
.ourstory_page .about-our-team .center-region .text { margin-top: -6px; font: 25px/140% "plantin", Georgia, serif; letter-spacing: -1px; }
.ourstory_page .about-our-team .right-region { float: right; width: 360px; }
.ourstory_page .about-our-team .right-region .text { margin-top: -3px; font: 14px/164% Arial, serif; }
.ourstory_page .meet-the-team { padding: 33px 0 44px; }
.ourstory_page .meet-the-team .left-region { width: 172px; }
.ourstory_page .meet-the-team .left-region .sub-title { padding-bottom: 20px; background: url(../images/divider.png) repeat-x 0 bottom; }
.ourstory_page .meet-the-team .left-region .team-categories-view { padding-top: 20px; }
.ourstory_page .meet-the-team .right-region { float: right; width: 755px; }

/* Values Page */
.values_page .description { margin: 35px 0; }
.values_page #body { font-size: 25px; line-height: 35px; letter-spacing: -1px; }
.values_page #body .orange { font-weight: bold; }
.values_page #breadcrumb { margin-top: 20px; }

/* Services Page */
.services_page .disciplines { margin: 35px 0 40px; }
.services_page #disciplines .thumbnail { float: left; margin: 28px 0 0 20px; width: 174px; }
.services_page #disciplines .views-row-2.thumbnail .title { padding: 48px 35px 50px 0; }
.services_page #disciplines .views-row-4.thumbnail .title { padding: 48px 35px 50px 0; }
.services_page .area_expertise { margin: 35px 0 48px; }
.services_page #area_expertise .thumbnail { float: left; margin: 28px 0 0 20px; width: 174px; }
.services_page .area_interest { margin-top: 35px; }
.services_page .area_interest #body { font-size: 24px; line-height: 31px; letter-spacing: -1px; }
.services_page .area_interest #button a { display: block; margin-left: 66px; width: 245px; height: 245px; font-size: 0; line-height: 0; background: transparent url(../images/mp_sprite.png) no-repeat -35px -1088px; }
.services_page .area_interest #button a:hover { background-position: -323px -1088px; }
.services_page #breadcrumb { margin-top: 15px; }

/* Areas of Interest */
.area_interest_page .top { margin: 35px 0; }
.area_interest_page .top #body { font-weight: bold; font-size: 40px; line-height: 48px; letter-spacing: -2px; }
.area_interest_page #area_interest { margin-top: 10px; }
.area_interest_page #area_interest .thumbnail { margin: 0 0 45px 0; padding: 0; width: 100%; }
.area_interest_page #area_interest .thumbnail.views-row-last { margin-bottom: 0; }
.area_interest_page #breadcrumb { margin-top: 53px; }
.privacy_policy_page #privacy_policy { margin-top: 35px; }
.privacy_policy_page #privacy_policy .thumbnail { margin: 0 0 35px 0; padding: 0; width: 100%; }
.privacy_policy_page #breadcrumb { margin-top: 55px; }

/* Contact Page */
.contact_page .page_leadline { margin: 20px 0; font-size: 40px; font-weight: bold; }
.contact_page .body_row { margin-top: 25px; }
.contact_page #offices { float: right; }
.contact_page .form_region { margin-left: 4px; width: 500px; }
.contact_page .offices_region { float: right; width: 238px; }
.node-webform > h2 { display: none; }
.contact_page .webform-component { clear:both; }
.contact_page .form-text { position: relative; clear: both; float: left; margin: -34px 0 20px; padding: 0 0 0 145px; width: 355px; height: 50px; color: #888888; border-color: -moz-use-text-color -moz-use-text-color #949494; border-style: none none dotted; border-width: medium medium 1px; font-family: Arial,Helvetica,sans-serif; }
.contact_page .form-textarea { position: relative; clear: both; float: left; margin: -34px 0 15px 145px; padding-top: 17px; width: 354px; height: 200px; font: 12px/18px Arial,Helvetica,sans-serif; color: #888888; border-color: -moz-use-text-color -moz-use-text-color #949494; border-style: none none dotted; border-width: medium medium 1px; }
.contact_page label { position: relative; z-index: 400; margin: 0; width: 132px; color: #000; font: bold italic 17px Georgia; letter-spacing: -1px; }
.contact_page .grippie { display: none; }
.contact_page .form-submit { float: right; margin-bottom: 30px; padding-bottom: 3px; width: 80px; height: 80px; color: #fff; border: 0 none; border-radius: 80px; font-size: 12px; background-color: #F05A28; cursor: pointer; }
.contact_page #offices .thumbnail { margin: 0; }
.contact_page .related_row { margin-top: 35px; }
.contact_page .related_region { float: right; }
.contact_page .breadcrumb_row { margin-top: 10px; }

/* Global Offices Page */
.global_offices_page .page_leadline { margin: 20px 0; font-size: 40px; font-weight: bold; }
.global_offices_page .body { margin-bottom: 50px; }
