/* Tags */
body { margin: 0; padding: 0; color: black; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 175%; }
ul, ul.menu, .item-list ul { margin: 0; padding: 0; list-style: none; }
ul li, ul.menu li, .item-list ul li { margin: 0; padding: 0; list-style: none; }
html body.admin-menu { margin-top: 30px !important; }
table { border-spacing: 0; }
td { padding: 0; }
a, a:link, a:visited { text-decoration: none; color: #f05a28; transition: color 0.3s ease; -webkit-transition: color 0.3s ease; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; }
a:hover { color: #000; }
p { margin: 0; }

/* General Elements */
.clearfix::after { font-size: 0; line-height: 0; }
.orange { color: #f05a28 !important; }
a.orange:hover { color: #782d14 !important; }
.panel-separator { display: none; }
.panels-flexible-row { padding: 0; }
.panels-flexible-region-inside { padding: 0; }
.view .item-list > ul > li { position: relative; float: left; }
.view .item-list > ul > li.my-col-last { float: right; margin-right: 0 !important; }
.view .item-list > ul > li.my-row-last { margin-bottom: 0 !important; }
.top-title { padding-top: 7px; font: bold 47px/191% "plantin", Georgia, serif; letter-spacing: -2px; }
.sub-title { color: #f05a28; font: bold italic 17px/100% "plantin", Georgia, serif; letter-spacing: -1px; }
.sub-title.black { color: #000; }
.page { position: relative; }

/* Content */
.content { position: relative; }
.content > .pane-content { position: relative; margin: 0 auto; padding: 0 0 40px; width: 950px; }

/* Layer */
img { cursor: pointer; }
.no-img img, img.no-img { cursor: default; }
.image-viewer { position: absolute; display: none; z-index: 1000; left: 0; right: 0; top: 0; bottom: 0; }
.image-viewer > .inside { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.image-viewer .back { position: absolute; left: 0; right: 0; top: 0; bottom: 0; text-indent: -1000px; overflow: hidden; background-color: #000; }
.image-viewer .image { position: relative; font-size: 0; line-height: 0; }
.image-viewer .image img { display: block; margin: 0 auto; }
.image-viewer .previous { position: fixed; z-index: 1005; bottom: 40px; right: 431px; width: 76px; height: 76px; text-indent: -1000px; overflow: hidden; cursor: pointer; background: url(../images/white-circle-76.png) no-repeat 0 0; }
.image-viewer .previous:hover { width: 77px; height: 77px; background: url(../images/orange-circle-77.png) no-repeat 0 0; }
.image-viewer .previous .pane-content { height: 76px; background: url(../images/arrow_left_nobg.png) no-repeat 20px 20px; }
.image-viewer .previous:hover .pane-content { background: url(../images/arrow_left_nobg_white.png) no-repeat 20px 20px; }
.image-viewer .next { position: fixed; z-index: 1005; bottom: 40px; right: 335px; width: 76px; height: 76px; text-indent: -1000px; overflow: hidden; cursor: pointer; background: url(../images/white-circle-76.png) no-repeat 0 0; }
.image-viewer .next:hover { width: 77px; height: 77px; background: url(../images/orange-circle-77.png) no-repeat 0 0; }
.image-viewer .next .pane-content { height: 76px; background: url(../images/arrow_right_nobg.png) no-repeat 20px 20px; }
.image-viewer .next:hover .pane-content { background: url(../images/arrow_right_nobg_white.png) no-repeat 20px 20px; }
.image-viewer .close { position: fixed; z-index: 1005; bottom: 40px; right: 236px; width: 77px; height: 77px; overflow: hidden; cursor: pointer; background: url(../images/orange-circle-77.png) no-repeat 0 0; }
.image-viewer .close:hover { width: 76px; height: 76px; background: url(../images/white-circle-76.png) no-repeat 0 0; }
.image-viewer .close .pane-content { padding-top: 28px; color: #fff; text-align: center; }
.image-viewer .close:hover .pane-content { color: #000; }
.image-viewer .title { position: fixed; padding: 20px 20px 23px; height: 35px; left: 0; right: 0; bottom: 0; color: #fff; background: #000 url(../images/divider.png) repeat-x 0 60px; font: bold italic 17px/100% "plantin", Georgia, serif; letter-spacing: -1px; }
.image-viewer .title .pane-content { display: inline; }
.image-viewer .summary { position: fixed; left: 166px; right: 166px; bottom: 37px; color: #fff; }

/* To Top */
.to-top { position: fixed; z-index: 500; display: none; bottom: 20px; right: 20px; width: 77px; height: 77px; text-align: center; cursor: pointer; background: url(../images/to-top.png) no-repeat 0 0; }
.to-top > .pane-content { padding: 36px 29px; color: #fff; text-decoration: none; background: url(../images/arrow_up.png) no-repeat 24px 12px; }

/* Logo */
.logo { position: relative; z-index: 20; margin: 0 auto; padding: 0 0 0 1px; width: 950px; }
.logo .pane-content { position: absolute; float: left; margin: -36px 0 0; width: 129px; overflow: hidden; font-size: 0; line-height: 0; }
.logo .pane-content:hover img { cursor: pointer; margin: 0 0 0 -129px; }

/* Top Menu */
.top-menu { height: 67px; background-color: #000; }
.top-menu .pane-content { margin: 0 auto; padding: 30px 0 0; width: 950px; }
.top-menu .pane-content .menu-view { float: right; width: auto; }
.top-menu .pane-content .menu-view ul li { float: left; }
.top-menu .pane-content .menu-view ul li a { float: left; padding: 0 17px 10px; font-size: 12px; line-height: 233%; color: #888; }
.top-menu .pane-content .menu-view ul li a:hover { color: #fff; }

/* Content Back Top */
.content-back-top { position: absolute; left: 0; right: 0; height: 80px; text-indent: -1000px; overflow: hidden; background: url(../images/top.gif) repeat-x center -248px; }

/* Content Back Bottom */
.content-back-bottom { position: relative; z-index: 5; height: 95px; text-indent: -1000px; overflow: hidden; background: url(../images/bottom.gif) repeat-x right 23px; }
.content-back-bottom > .pane-content { margin: 0 auto; width: 950px; background: url(../images/divider.png) repeat-x 0 0; }

/* Content Menu Divider */
.content-menu-divider { margin: -1px 0 0; width: 100%; height: 1px; text-indent: -1000px; overflow: hidden; background: url(../images/divider.png) repeat-x 0 0; }

/* Content Back */
.content-back { position: absolute; left: 0; right: 0; text-indent: -1000px; overflow: hidden; }

/* User Login */
.user-login { position: relative; z-index: 20; margin: 0 auto; width: 950px !important; }
.user-login > .pane-content { display: none; position: absolute; right: 0; width: 225px; height: 128px; font-size: 0; line-height: 0; background: url(../images/login-box.png) no-repeat 0 0; }
.user-login > .pane-content label { display: none; }
.user-login > .pane-content .item-list { display: none; }
.user-login > .pane-content .form-item { margin: 0; padding: 0; }
.user-login > .pane-content .form-type-textfield, .user-login > .pane-content .form-type-password { padding: 11px 20px 0;  }
.user-login > .pane-content input.form-text { padding: 0 0 3px 22px; width: 161px; height: 20px; line-height: 20px; color: #fff; border: 0 none; background: #000 url(../images/arrow_right_nobg_white.png) no-repeat -10px -7px; }
.user-login > .pane-content input.form-submit { position: absolute; right: 18px; bottom: 15px; width: 30px; height: 30px; font: bold 12px Tahoma, Arial, Georgia, sans-serif; cursor: pointer; border: 0 none; background: url(../images/login-box-submit.png) no-repeat 0 0; }
.user-login > .pane-content input.form-submit:hover { color: #fff; background-position: -30px 0; }

/* Main Site Menu */
.main-site-menu { position: relative; z-index: 5; margin: 0 auto; padding: 104px 0 0; width: 950px; height: 46px; }
.main-site-menu .pane-content { float: right; margin: 0 -15px 0 0; }
.main-site-menu .pane-content ul li { float: left; }
.main-site-menu .pane-content ul li a { float: left; padding: 0 18px 18px; font: bold 20px/140% "plantin", Georgia, serif; color: black; letter-spacing: -1px; background: transparent url(../images/circle.png) no-repeat 50% -6px; }

/* Messages */
.site-messages { position: relative; margin: 0 auto; width: 950px !important; }

/* Resources Mega Menu */
.resources-mega-menu { display: none; position: absolute; z-index: 100; left: 0; right: 0; padding: 20px 0 33px; height: 215px; background: #fff url(../images/divider.png) repeat-x 0 bottom; }
.resources-mega-menu > .inside { display: none; margin: 0 auto; width: 950px; }
.resources-mega-menu .left-region { width: 158px; margin-right: 20px; }
.resources-mega-menu .center-region { width: 176px; }
.resources-mega-menu .right-region { float: right; width: 554px; }
.resources-mega-menu .menu-title { font: italic 12px/250% Georgia, serif; }
.resources-mega-menu .field-content { transition: color 0.3s ease; -webkit-transition: color 0.3s ease; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; }
.resources-mega-menu .field-content { transition: border 0.3s ease; -webkit-transition: border 0.3s ease; -moz-transition: border 0.3s ease; -o-transition: border 0.3s ease; }
.resources-mega-menu .resources-main-category-menu .item-list ul li { float: none !important; background: none; height: auto; }
.resources-mega-menu .resources-main-category-menu .title { padding: 0; background: none; font-weight: bold; font-size: 13px; line-height: 292%; }
.resources-mega-menu .resources-main-category-menu .title .field-content { display: inline; cursor: pointer; }
.resources-mega-menu .resources-main-category-menu .title .field-content:hover { color: #f05a28; border-bottom: 1px dotted #777; }
.resources-mega-menu .resources-second-category-menu .item-list ul li { float: none !important; background: none; height: auto; }
.resources-mega-menu .resources-second-category-menu .title { padding: 0; background: none; font-weight: bold; font-size: 13px; line-height: 292%; }
.resources-mega-menu .resources-second-category-menu .title .field-content { display: inline; cursor: pointer; }
.resources-mega-menu .resources-second-category-menu .title .field-content:hover { color: #f05a28; border-bottom: 1px dotted #777; }
.resources-mega-menu-popular-view .item-list ul li { float: none !important; padding: 1px 0; background: url(../images/divider.png) repeat-x 0 bottom; }
.resources-mega-menu-popular-view .item-list ul li.last { background: none; }
.resources-mega-menu-popular-view .main-category { float: left; padding-top: 10px; font-weight: bold; font-size: 13px; line-height: 100%; }
.resources-mega-menu-popular-view .main-category .field-content { display: inline; cursor: pointer; }
.resources-mega-menu-popular-view .main-category .field-content:hover { color: #f05a28; border-bottom: 1px dotted #777; }
.resources-mega-menu-popular-view .title { margin-left: 150px; font-weight: normal; line-height: 292%; }
.resources-mega-menu-popular-view .title a { color: #000; }
.resources-mega-menu-popular-view .title a:hover { color: #f05a28; }

/* Breadcrumb */
.site-breadcrumb { position: relative; margin: 0 auto; padding: 0; width: 950px; }
.site-breadcrumb > .pane-content { padding: 0 0 25px; height: 21px; }
.site-breadcrumb a { display: block; float: left; color: #000; }
.site-breadcrumb a:hover { border-bottom: 1px dotted #ddd; color: #f05a28; }
.site-breadcrumb .arrow { float: left; width: 35px; height: 20px; background: url(../images/arrow_right_nobg.png) no-repeat 0 -7px; }

/* Footer Columns */
.footer-columns { height: 352px; background-color: #000; }
.footer-columns a { color: #777; }
.footer-columns > .inside { margin: 0 auto; padding: 35px 0 0; width: 950px; color: #777; font-size: 12px; line-height: 183%; }
.footer-columns .footer-columns-1 { padding-right: 45px; width: 150px; }
.footer-columns .footer-columns-2 { padding-right: 55px; width: 150px; }
.footer-columns .footer-columns-3 { padding-right: 52px; width: 130px; }
.footer-columns .footer-columns-4 { width: 230px; }
.footer-columns .footer-columns-5 { float: right; width: 125px; }
.footer-columns .footer-columns-1 .image { font-size: 0; line-height: 0; }
.footer-columns .footer-columns-1 .image img { cursor: pointer; }
.footer-columns .footer-columns-1 .copyright { margin-top: 34px; font-weight: bold; }
.footer-columns .footer-columns-2 .image, .footer-columns .footer-columns-3 .image { position: relative; margin: 10px 0 0; height: 49px; font-size: 0; line-height: 0; }
.footer-columns .footer-columns-2 .image > .pane-content, .footer-columns .footer-columns-3 .image > .pane-content { position: absolute; bottom: 0; }
.footer-columns .footer-columns-2 .title, .footer-columns .footer-columns-3 .title { margin: 15px 0 0; font-weight: bold; }
.footer-columns .footer-columns-4 .email, .footer-columns .footer-columns-5 .title { margin: 26px 0 0; font: bold italic 15px "plantin", Georgia, serif; }
.footer-columns .footer-columns-4 .line, .footer-columns .footer-columns-5 .line { margin: 2px 0 7px; color: #404040; }
.footer-columns .footer-columns-5 .footer-social-links { margin-left: 6px; }
.footer-columns .footer-columns-5 .footer-social-links ul li a { display: block; float: left; margin: 0 5px 0 0; padding: 0 0 8px 0; width: 33px; height: 33px; font-size: 0; line-height: 0; overflow: hidden; }
.footer-columns .footer-columns-5 .footer-social-links ul li:nth-child(3n) a { margin: 0; }
.footer-columns .footer-columns-5 .footer-social-links ul li a img { cursor: pointer; }
.footer-columns .footer-columns-5 .footer-social-links ul li a img:hover { margin: 0 0 0 -33px; }

/* Page Title */
.page-title { position: relative; height: 116px; background: url(../images/divider.png) repeat-x 0 bottom; }
.page-title .left-region { position: absolute; z-index: 20; padding: 4px 0 0; left: 0; right: 0; top: 0; width: auto; font: bold 100px/100% "tradegothic", Arial, serif; letter-spacing: -5px; }
.page-title .right-region { position: absolute; z-index: 25; left: 0; right: 0; top: 73px; width: auto; }
.page-title .right-region ul { float: right; margin-right: -18px; }
.page-title .right-region ul li { float: left; }
.page-title .right-region ul li a { float: left; display: block; margin: 0 18px; padding-bottom: 15px; font: bold 20px/140% "plantin", Georgia, serif; color: black; letter-spacing: -1px; }
.page-title .right-region ul li a:hover { color: #f05a28; }
.page-title .right-region ul li a.active { font-style: italic; background: url(../images/sub-menu-back.png) no-repeat center 30px; }

/* Focal Slideshow */
.focal-slideshow { position: relative; width: 950px; height: 495px; }
.focal-slideshow .slides { position: relative; width: 950px; height: 495px; overflow: hidden; }
.focal-slideshow .slides ul { width: 9000px; }
.focal-slideshow .slides ul li { float: left; width: 950px; height: 495px; }
.focal-slideshow .focal-nav { position: absolute; z-index: 500; display: block; bottom: 30px; width: 78px; height: 78px; background: url(../images/mp_sprite.png) no-repeat; cursor: pointer; text-indent: -1000px; overflow: hidden; }
.focal-slideshow .focal-prev { background-position: -28px -143px; right: 92px; }
.focal-slideshow .focal-prev:hover { background-position: -208px -143px; }
.focal-slideshow .focal-next { background-position: -28px -18px; right: 10px; }
.focal-slideshow .focal-next:hover { background-position: -208px -18px; }
.slideshow-view { position: relative; }
.slideshow-view a { display: block; font-size: 0; line-height: 0; }
.views_slideshow_main { position: absolute; }
.views-slideshow-controls-text span { position: absolute; z-index: 500; display: block; bottom: 15px; width: 78px; height: 78px; background: url(../images/mp_sprite.png) no-repeat; cursor: pointer; text-indent: -1000px; overflow: hidden; }
.views-slideshow-controls-text span.views-slideshow-controls-text-previous { background-position: -28px -143px; right: 92px; }
.views-slideshow-controls-text span.views-slideshow-controls-text-previous:hover { background-position: -208px -143px; }
.views-slideshow-controls-text span.views-slideshow-controls-text-pause { display: none; }
.views-slideshow-controls-text span.views-slideshow-controls-text-next { background-position: -28px -18px; right: 10px; }
.views-slideshow-controls-text span.views-slideshow-controls-text-next:hover { background-position: -208px -18px; }

/* Search Form */
.search-form { position: absolute; right: 0; top: 53px; }
.search-form input.form-text { float: left; padding: 7px 36px 6px 31px; width: 110px; height: 17px; border: 0 none; background: #f1f1f1 url(../images/search-icon.png) no-repeat 7px 8px; font: italic 12px/16px Georgia, sans-serif; }
.search-form input.form-submit { position: absolute; top: 0; right: 0; margin: 0; padding: 7px 7px 6px 7px; width: 31px; height: 30px; cursor: pointer; color: #000; font: bold 12px/16px Georgia, sans-serif; background-color: #000; border: 0 none; }

/* Related Content */
.related-content { padding: 35px 0 0; }
.related-content .left-region { padding: 0 20px 0 0; width: 175px; }
.related-content .right-region { float: right; width: 755px; }
.related-content-view .views-row { margin: 0 23px 0 0; width: 236px; }
.related-content-view .title { height: 175px; font: 25px/140% "plantin", Georgia, serif; letter-spacing: -1px; background-color: #f1f1f1; }
.related-content-view .title .field-content { padding: 21px 25px; }
.related-content-view .leadline { font: italic 11px/150% Georgia, Arial, sans-serif; color: #333; }
.related-content-view .leadline .field-content { padding-top: 11px; }
.related-content-view .leadline .field-content div { display: inline; }
.related-content-view .layer { position: absolute; display: block; padding: 25px 30px 0; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; filter: alpha(opacity=0); color: #fff; background-color: #000; }
.related-content-view .layer .title2 { font-size: 13px; font-weight: bold; }
.related-content-view .layer .summary { margin-top: 10px; font-size: 12px; line-height: 150%; }
.related-content-view .layer .link { position: absolute; padding-right: 35px; bottom: 15px; height: 25px; font-weight: bold; background: url(../images/arrow_right_nobg_white.png) no-repeat 50px -7px; }